@page "/EditStudent/{id}"
@inject StudentService studentService
@inject NavigationManager NavigationManager
<h2>
    Редактировать студента
</h2>

<form>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="id" class="control-label">id Сотрудника</label>
                <input form="id" class="form-control" @bind="_students.Id" disabled />
            </div>
            <div class="form-group">
                <label for="Surname" class="control-label">Фамилия</label>
                <input form="Surname" class="form-control" @bind="_students.Surname" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Имя</label>
                <input form="Name" class="form-control" @bind="_students.Name" />
            </div>
            <div class="form-group">
                <label for="Otch" class="control-label">Отчество</label>
                <input form="Otch" class="form-control" @bind="_students.Otch" />
            </div>
            <div class="form-group">
                <label for="Group" class="control-label">Группа</label>
                <input form="Group" class="form-control" @bind="_students.Group" />
            </div>
            <div class="form-group">
                <label for="BirthDate" class="control-label">День рождения</label>
                <input form="BirthDate" type="date" class="form-control" @bind="_students.BirthDate" />
            </div>
            <div class="form-group">
                <label for="AverageScore" class="control-label">Ср. балл</label>
                <input form="AverageScore" class="form-control" @bind="_students.AverageScore" />
            </div>
            <div class="form-group">
                <label for="Scholarship" class="control-label">Стипендия</label>
                <input form="Scholarship" class="form-control" @bind="_students.Scholarship" />
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="@UpdateStudent" value="Сохранить" />
                    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Отмена" />
                </div>
            </div>
        </div>
    </div>
</form>


@code {
    [Parameter]
    public string Id { get; set; }
    Student _students = new Student();

    protected override async Task OnInitializedAsync()
    {
        _students = await Task.Run(() => studentService.GetStudentAsync(Convert.ToInt32(Id)));
    }
    protected async void UpdateStudent()
    {
        await studentService.UpdateStudentAsync(_students);
        NavigationManager.NavigateTo("Students");

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Students");
    }
}
